= form_for(@movie) do |f|
  .field
    = f.label :title 
    %br
    = f.text_field :title
  .field
    = f.label :director
    %br
    = f.text_field :director
  .field
    = f.label :release_year
    %br
    = f.number_field :release_year
  .field
    = f.label :rating
    %br
    = f.number_field :rating
  .actions
    = f.submit